body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  position: absolute;
  width: 8px;
}
/* 滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #404558;
  /* background-color: transparent; */
}
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #404558;
} */
/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}
